.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
poetry.lock
test.db
log.txt
Pipfile.lock
env3.*
env
.env
docs_build
site_build
venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?
.cache

#log files
*.log
# macOS
.DS_Store